<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <!-- <script src="jquery-3.3.1.min.js">
      $(document).on('turbolinks:load', initialize_calendar);
    </script> -->

  </head>
  <body>
    <% if @show_navbar %>
      <%= render 'shared/navbar' %>
    <% elsif @show_navbar == false %>
      <%= render 'shared/navbar_home' %>
    <% else %>
      <%= render 'shared/navbar_checkout' %>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>

